*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

a{
    text-decoration: none;
    color: white;
}
li{
    list-style-type: none;
}

/* Reusable css  */



body{
    background-color: #222121;
    width: 100vw;
    height: 200vh;
}

header{
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
nav{
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}


ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

.hamburger-menu{
    display: flex;
    align-items: end;
    justify-content: start;
    flex-direction: column;
    gap: 8px;

    width: 50px;
    z-index: 21;
}

.hamburger-menu span.line{
    width: 70%;
    height: 2px;
    background-color: white;

}
#line-one{
    
}
#line-two{
    width: 50%;
}


.cta-btn{
    padding: 10px 20px;
    border: 1px solid gray;
    /* background-color: rgba(255, 255, 255, 60%); */
    border-radius: 20px;
}


/* Mobile Phone  */

@media only screen and (max-width:768px) {
ul{
    /* display: none; */
    position: absolute;
    width: 50%;
    top: 0;
    background-color: rgba(255, 255, 255, 20%);
    min-height: 100vh;
    right: 0;
    display: flex;
    padding: 100px 20px;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    backdrop-filter: blur(10px);

}




/* Small devices  */
@media only screen and (min-width: 600px) {
    ul{
        /* display: none; */
        position: absolute;
        width: 50%;
        top: 0;
        background-color: rgba(255, 255, 255, 20%);
        min-height: 100vh;
        right: 0;
        display: flex;
        padding: 100px 20px;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        backdrop-filter: blur(10px);
    
    }
}


}

/* Tablet Divices  */
@media only screen and (min-width: 768px) {
.hamburger-menu{
    display: none;
}


}


@media only screen and (min-width: 992px) {
    nav .link-container ul li a{
        font-size: 20px;
    }
}


